h1{
    color: blue;
}

#d{
     border-style: solid;
    border-color: blue;
    border-radius: 15px;
}
table tr:nth-child(2n) td{
    background-color: beige;
}

button:hover{
    background-color: red;
}