

body{
    position: relative;
}

.link {
    background-color: tan;
    color: floralwhite;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.router-link-active {
    background-color: black;
    color: white;
}
[routerLinkActive="true"] {
    background-color: black;
    color: white;
}

td, th {
    margin-left: 15px;
}


th{
    background-color: floralwhite;
    color: darkslategrey;
}

.lista{
    background-color: beige;
}

button{
    background: tan;
    color: floralwhite;
}
