<h1>O nas</h1>

<h2>{{about.name}}</h2>

<table>
   <tr>
       <td>poniedziałek:</td><td>{{about.hours.monday}}</td>
   </tr>
          <tr>
       <td>wtorek:</td><td>{{about.hours.thusday}}</td>
   </tr>

      <tr>
       <td>środa:</td><td>{{about.hours.wednesday}}</td>
   </tr>
      <tr>
       <td>czwartek:</td><td>{{about.hours.thursday}}</td>
   </tr>
      <tr>
       <td>piątek:</td><td>{{about.hours.friday}}</td>
   </tr>
      <tr>
       <td>sobota:</td><td>{{about.hours.saturday}}</td>
   </tr>
      <tr>
       <td>niedziela</td><td>{{about.hours.sunday}}</td>
   </tr>
</table>